<div class="template-block">
    <h5>{{ block.region|capitalize }}</h5>

    <div class="template-block-content sortable" data-scope="{{ region.scope }}">
        <!-- All pageparts for this region (context)...
        <div class="pp" data-scope="header">
            <h6>Header</h6>
            <p>Lorem ipsum dolor sit amet</p>
            <div class="edit">
                <a href="#" class="editor">Edit</a>
                <a class="del red" data-controls-modal="delete-pagepart" data-backdrop="true" data-keyboard="true"><span>Del</span></a>
            </div>
        </div>
        -->
    </div>

    <div class="add">
        <select>
            <option>Add New</option>
            <option>Header</option>
            <option>Text</option>
        </select>
    </div>

</div>
